# Clickhouse parameter
CH_HOST=0.0.0.0
CH_PORT=8123
CH_USER=user
CH_PASSWORD=password
CH_DATABASE=forecast_main

# RabbitMQ parameters
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
RABBITMQ_QUEUE=forecast_files
RABBITMQ_PREFETCH=2

# Testing parameters
CH_TEST_DB=forecast_test
URL_TEST=http://localhost:8001/forecast-test/sample.grib2

# General settings
DOWNLOAD_TIMEOUT_SECONDS=300
ENABLE_METRICS=true